{% assign ss = section.settings %}

{% if section.blocks.size > 0 %}

  {{ 'faq-accordion.css' | asset_url | stylesheet_tag }}
  <script src="{{ 'faq-accordion.js' | asset_url }}" defer="defer"></script>

  <div class="faq-accordion page-width">

    {% if ss.title != blank %}
      <h2 class="title h1">{{ ss.title }}</h2>
    {% endif %} 

    {% if ss.copy != blank %}
      <p>{{ ss.copy }}</p>
    {% endif %}

    <faq-accordion>
      <div class="faq-container">

        {%- for block in section.blocks -%}
            <div class="faq-container__block">
        
              <div class="faq-container__block__header">
                <span class="text">{{ block.settings.faq_title }}</span> 
                <span class="icon icon-plus">{% render 'icon-plus' %}</span>
                <span class="icon icon-minus">{% render 'icon-minus' %}</span>
              </div>
              
              <div class="faq-container__block__copy">
                {{ block.settings.faq_copy }} 
              </div>
            </div>
        {%- endfor -%}

      </div>
    </faq-accordion>

  </div>

{% endif %}

{% schema %}
  {
  "name": "FAQ Accordion (product)",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title", 
      "default": "FAQs"
    },
    {
      "type": "textarea",
      "id": "copy",
      "label": "Copy"
    }
  ],
  "blocks": [
    {
      "name": "FAQ",
      "type": "faq",
      "settings": [
        {
          "type": "text",
          "id": "faq_title",
          "label": "FAQ Title"
        },
        {
          "type": "richtext",
          "id": "faq_copy",
          "label": "FAQ Copy"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "FAQ Accordion (product)"
    }
  ]
}  
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}